@model IEnumerable<BlogBLL.ViewModels.ManageUser>
@{
    ViewBag.Title = "ManageUser";
    Layout = "~/Views/Shared/_LayoutPageManage.cshtml";
}
<link href="~/front/css/bootstrap.min.css" rel="stylesheet" />
<div data-options="region:'center'" id="tt">
    <table id="dg" class="easyui-datagrid" style="width:100%;height:100%"
           url="/Manage/LoadUsers"
           toolbar="#toolbar" pagination="true"
           rownumbers="true" fitColumns="true" singleSelect="true">
        <thead>
            <tr>
                <th field="Account" width="50">用户账号</th>
                <th field="Name" width="50">用户昵称</th>
                <th field="CommitCount" width="25" align="center">评论数量</th>
                <th data-options="field:'_operate',width:40,align:'center',formatter:formatOper">操作</th>
            </tr>
        </thead>
    </table>
</div>
<script type="text/javascript">
    function formatOper(val, row, index) {
        return '<button class="btn btn-outline-danger" onclick=\'deleteUser(\"' + row.Account + '\")\' >删除此用户</button>';
    }
    function deleteUser(u) {
        //alert(u);
        $.messager.confirm('删除确认', '确定要删除此分类吗?', function (r) {
            if (r) {
                $.ajax({
                    ajax: false,
                    type: "POST",//FromMetho
                    url: "/Manage/DelUsers",//"/Controller/Action"
                    data: { Account: u },//参数 "参数名："参数值""
                    datatype: 'html',
                    success: function (data) {
                        alert('删除成功');
                        window.location.href = "/Manage/ManageUser";
                    },
                    error: function () {
                        alert('删除失败，请稍后再试');
                        window.location.href = "/Manage/ManageUser";
                    }
                });
            }
        });
    }
</script>