
@{
    ViewBag.Title = "登出";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ExitLogin</title>
</head>
<body>
    <div> 
    </div>
</body>
</html>
