@{
    ViewBag.Title = "HTTP 404 NOT FOUND";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
<body>
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
                <img src="~/Content/img/http404.jpg" style="width:100%"/>
        </div>
    </div>
</body>