@*@model System.Web.Mvc.HandleErrorInfo*@
<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width" />
    <title>错误</title>
</head>
<body>
    <hgroup>
        <h1>诶呀呀，出问题了。。。</h1>
        <h2>我们在处理你的请求时遇到意外错误，数据被我们弄丢了，请点击导航栏的“首页”以回到首页重新尝试。。。</h2>
    </hgroup>
</body>
</html>
